* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    height: 53px;
}

nav {
    height: 53px;
    background: #212121;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 16px 70px;
    margin: 0;
    list-style-type: none;
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 40px;
}

.subheader {
    height: 87px;
    background-color: rgba(0,0,0, .6);
    position: absolute;
    width: 100%;
    top: 53px;
}

.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 19px;
}

.subheader .subheader_official {
    font-weight: 100;
    font-size: 13px;
    color: #FFFFFF;
    margin-top: 6px;
}

.subheader .subheader_call {
    font-weight: 300;
    font-size: 12px;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: right;
}

.subheader .subheader_phone {
    display: block;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    text-align: right;
    line-height: 30px;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;

    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    margin-top: 21px;
}

.promo {
    min-height: 799px;
    background: url('../img/uber_bg.png') center center/cover no-repeat;
    padding: 151px 0 186px 0;
}

.promo .promo_header {
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
    margin-top: 50px;
}

.promo .promo_subheader {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
}

.promo .promo_descr {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}

.promo .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.reasons {
    min-height: 849px;
    padding: 18px 0 64px 0;
}

.reasons .reasons_subheader {
    font-weight: normal;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    background-color: black;
    width: 113px;
    height: 24px;  
    margin: 0 auto;
    padding: 5px 12px;
}

.reasons_header {
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-top: 33px;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
}

.reasons .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    margin-right: 27px;
}

.reasons .reasons_block .reasons_descr {
    width: 372px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
    font-weight: normal;
    font-size: 17px;
    color: #1EACC7;
    line-height: 21px;
    margin-top: 17px;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020;
}